.tr{
    display: flex;
    flex-direction: row;
    gap: 20px;

    max-width: 1580px;

    font-size: 2em;
    font-family: var(--font-main);
}

th{
    width: 300px;
    
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    text-align: start;
}

.tr__tdId{
    width: 30px;
}