.header {
    width: 100%;
    min-height: 64px;

    padding-left: 10px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    background-color: var(--color-bg);
    color: var(--color-text);
}

.header__Link {
    display: flex;
    align-items: center;
    justify-content: center;

    align-self: center;

    max-width: 54px;
    max-height: 54px;

    padding: 8px;
    border-radius: 50%;

    background-color: var(--color-bg-secondary);
    color: var(--color-text);

    flex-shrink: 0;
}
.header__search{
    align-self: center;
}